services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./src:/app/src
      - ./upload:/app/upload
      - ./.env:/app/.env
    depends_on:
      - qdrant
      - redis
      - postgres
    environment:
      - QDRANT_URL=http://qdrant:6333
      - REDIS_URL=redis://redis:6379/0
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    networks:
      - app-network

  postgres:
    image: postgres:15
    restart: always
    shm_size: 256mb
    env_file: .env
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: cv_screening
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          memory: 512m


  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  qdrant:
    image: qdrant/qdrant:v1.15.1
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app-network

  celery_worker:
    build: .
    command: celery -A src.task worker --loglevel=info
    working_dir: /app
    volumes:
      - ./src:/app/src
      - ./upload:/app/upload
      - ./.env:/app/.env
    depends_on:
      - redis
      - qdrant
    environment:
      - QDRANT_URL=http://qdrant:6333
      - REDIS_URL=redis://redis:6379/0
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    networks:
      - app-network

volumes:
  qdrant_data:
  redis_data:
  postgres_data:

networks:
  app-network:
    driver: bridge
